@using System.Configuration;
@using Core;
@{
    Layout = null;
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="Kalyani Book Store" />
    <meta name="author" content="Kalyani Book Store" />
    <meta name="keyword" content="Kalyani Book Store, Books, City Store" />
    <title>@(ViewBag.Title) | @(ConfigurationManager.AppSettings["titlebarName"])</title>
    <link href="@(Url.VersionedContent("~/icons/coreui-icons.min.css"))" rel="stylesheet" />
    <link href=@Url.VersionedContent("~/icons/flag-icon.min.css") rel="stylesheet" />
    <link href=@Url.VersionedContent("~/icons/font-awesome.min.css") rel="stylesheet" />
    <link href=@Url.VersionedContent("~/icons/simple-line-icons.css") rel="stylesheet" />
    <link href=@Url.VersionedContent("~/css/style.css") rel="stylesheet" />
    <link href=@Url.VersionedContent("~/vendors/pace-progress/css/pace.min.css") rel="stylesheet" />
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body" style="color:#20a8d8;">
                            <h3 style="text-align:center">Kalyani Book Store Requisition System</h3>
                            <div>&nbsp;</div>
                            <h4 style="text-align:center">Request books according to your needs</h4>
                            <div>&nbsp;</div>
                            <h5 style="text-align:center">KALYANI BOOK STORE</h5>
                            <br />

                            <h4><b>Login</b></h4>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-user"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="text" placeholder="Username" id="USER_ID">
                            </div>

                            <div class="input-group mb-4" style="display:none;" id="PasswordDiv">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input class="form-control" type="password" placeholder="Password" id="PASSWORD">
                            </div>
                            <div class="row">
                                <div class="col-6" id="OTPDiv">
                                    <button class="btn btn-primary px-4" type="button" id="btnLoginOtp">Send OTP</button>
                                </div>
                                <div class="col-6" id="LoginDiv" style="display:none;">
                                    <button class="btn btn-primary px-4" type="button" id="btnLogin">Login</button>
                                </div>
                                <br><br>

                                <div class="col-12" id="UserReg">
                                    <button class="btn btn-success px-4" type="button" id="btnUserReg">New User Registration</button>
                                </div>
                                <br>
                                <br>

                                <div class="col-12">
                                    <br />
                                    <img class="blink-image" src="~/img/right-hand.png" height="30" width="30">&nbsp;
                                    <a href="~/Help/TeamViewerQS.exe" target="_blank"><b>Remote Assistance Application</b></a> Download
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-body text-center">
                            <div>
                                <h2>Welcome Everyone!!</h2>
                                <p style="color:#dcffa5;">We, at Kalyani Book Store welcome you all to the magical gateway of infinite knowledge.</p>
                                <p style="color:#dcffa5;">Feel free to ask anyone about anything that interests you to any extent.</p>
                                <p style="color:#dcffa5;">
                                    Store Open Timings: 9 AM - 9 PM (Daily)<br>
                                    Email Id: support@kalyanibookstore.com<br>
                                    <b>Helpline No:</b> 1800-123-4567
                                </p>
                                <div>&nbsp;<br /></div>
                                <p style="color:#dcffa5;text-align:center;">Version 1.0.0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src=@Url.VersionedContent("~/vendors/js/jquery-3.2.1.min.js")></script>
    <script src=@Url.VersionedContent("~/vendors/js/popper.min.js")></script>
    <script src=@Url.VersionedContent("~/vendors/js/bootstrap.min.js")></script>
    <script src="@(Url.VersionedContent("~/vendors/js/jquery.blockUI.js"))"></script>
    <script src="@(Url.VersionedContent("~/vendors/js/sweetalert.min.js"))"></script>
    <script src="@(Url.VersionedContent("~/vendors/js/common.js"))"></script>
    <script src=@Url.VersionedContent("~/vendors/js/pace.min.js")></script>
    <script src=@Url.VersionedContent("~/vendors/js/perfect-scrollbar.min.js")></script>
    <script src=@Url.VersionedContent("~/vendors/js/coreui.js")></script>
    <script>

        $('#PASSWORD').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                $("#btnLogin").trigger("click");
                return false;
            }
        });

        $(document).ready(function () {
            document.oncontextmenu = function () { return false; }
        });

        $(document).off("click", "#btnUserReg").on("click", "#btnUserReg", function (e) {
            window.location.href = "@Url.Action("Index", "Registration", new { area = "" })";
        });

        $(document).off("click", "#btnLogin").on("click", "#btnLogin", function (e) {
            if ($("#USER_ID").val().trim() == '' || $("#PASSWORD").val().trim() == '') {
                alert('Please fill all the details.');
            } else {
                $.ajax({
                    url: '@Url.Action("Validate", "Login", new { area = "" })',
                    type: 'GET',
                    data: { username: $("#USER_ID").val().trim(), password: $("#PASSWORD").val().trim()}
                }).done(function (data) {
                    if (data.Success == 1) {
                        if (data.UserType == 1) {
                            window.location.href = "@Url.Action("Index", "InstituteProfile", new { area = "" })";
                        } else if (data.UserType == 2) {
                            window.location.href = "@Url.Action("Index", "UserProfile", new { area = "" })";
                        } else if (data.UserType == 3 || data.UserType == 4) {
                            window.location.href = "@Url.Action("Index", "UserProfile", new { area = "" })";
                        }
                    } else {
                        alert(data.Message);
                    }
                });
            }
        });

        $(document).off("click", "#btnLoginOtp").on("click", "#btnLoginOtp", function (e) {
            if ($("#USER_ID").val().trim() == "") {
                DeviceAlert("Please fill Username", alertType.warning);
            } else {
                $.ajax({
                    url: '@Url.Action("GetLoginOTP", "Login", new { area = "" })',
                    type: 'GET',
                    data: { username: $("#USER_ID").val().trim() }
                }).done(function (data) {
                    if (data.Message == "User doesn't exist!" || data.Message == "Mobile number not found" || data.Message == "OTP Failed") {
                        DeviceAlert(data.Message, alertType.error);
                    } else {
                        DeviceAlert(data.Message, alertType.success);
                        $("#USER_ID").prop('disabled', true);
                        $("#PASSWORD").val('');
                        $("#PasswordDiv").show();
                        $("#OTPDiv").hide();
                        $("#LoginDiv").show();
                        $("#UserReg").hide();
                    }
                });
            }
        });

    </script>

</body>
</html>
